* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  //! nav
  nav {
    .hamburger {
      display: none;
    }
    .burger {
      display: none !important;
    }
    ul {
      width: auto !important;
      display: block;
      display: flex !important;
      background-color: transparent !important  ;

      li {
        border-bottom: none !important;
      }
    }
  }
  //   !sec-1
  .sec1 {
    flex-direction: row !important;
    &_left {
      width: 50%;
    }

    &_right {
      width: 50%;
    }
  }
  .sec2 {
    &_cards {
      display: flex !important;
      justify-content: center !important;
      flex-direction: column !important;
      align-items: center !important;
      // flex-wrap: wrap;
      flex-direction: row !important;
      &_one {
        width: 25% !important;
        margin-right: 10px !important;
        margin-bottom: 0px !important;
      }
      &_two {
        width: 25% !important;
        margin-right: 10px !important;
        margin-bottom: 0px !important;
      }
      &_three {
        width: 25% !important;
        margin-right: 10px !important;
        margin-bottom: 0px !important;
      }
    }
  }

  .sec3 {
    .left {
      left: -65% !important;
      padding: 25px !important;
    }
    .right {
      right: -65% !important;
      padding: 25px !important;
    }
  }
  .sec4 {
    &_form {
      &_wrapper1 {
        width: 80% !important;
      }
      &_wrapper2 {
        width: 80% !important;
      }
      &_wrapper3 {
        width: 80%;
        display: flex;
        justify-content: flex-start;
      }
      .btn {
        // width: 10% !important;
        // margin: left;
      }
    }
  }
}
